:host {
    width: 100%;
    height: 100%;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 1rem;

    &__body {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(7, 1fr);
        width: 100%;
        height: 100%;
        border: solid #282932 2px;
        border-radius: 8px;
        padding: 0.5rem;
        .head-cell {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            border-bottom: solid #282932 2px;
            padding: 1rem 0;
            text-transform: capitalize;
        }
        .cell {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background-color: #5553f51c;
            }

            &.today {
                background-color: #282932;
                border-radius: 6px;
                font-weight: bold;
                color: #fff;
                &:hover,
                &:focus {
                    background: #f2c76b33;
                    border-radius: 6px;
                    font-weight: bold;
                }
            }
            &.not-current-month {
                color: #ccc;
            }
            &.weekend {
                color: #5553f5;
            }
            &.selected {
                background-color: #5553f5;
                color: #fff;
                .event {
                    background-color: #fff;
                }
            }
            &.today.selected {
                background-color: #5051f924;
                color: #fff;
            }

            .event {
                height: 5px;
                width: 5px;
                border-radius: 50%;
                margin: 1px;
                display: inline-block;
                background-color: #5051f9;
            }
        }
    }
}
