<form class="task-input" (submit)="hadleSubmit($event)" autocomplete="off">
    <div class="priority-selector">
        <ng-container *ngFor="let priority of priorities">
            <input
                type="radio"
                class="stv-radio-button"
                name="priority"
                value="{{ priority.level }}"
                id="{{ priority.id }}"
                [checked]="priority.selected"
            />
            <label for="{{ priority.id }}" [ngStyle]="{ 'background-color': priority.color }"></label>
        </ng-container>
    </div>
    <input type="text" placeholder="Add new task..." name="description" autofocus />
    <input type="date" name="date" id="" [value]="today" />
</form>
