:host {
    width: 100%;
    display: flex;
    justify-content: center;
}

.task-input {
    width: 100%;
    max-width: 550px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    height: 70px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    span:first-child {
        height: 20px;
        width: 20px;
        background: green;
        border-radius: 50%;
        border: solid 1px white;
        cursor: pointer;
    }

    input[type='text'],
    input[type='date'] {
        height: 100%;
        background-color: #262626;
        color: white;
        border: none;
        outline: none;
        font-size: 14px;
        padding-left: 0.5rem;
    }
    input[type='text'] {
        width: 100%;
    }
    input[type='date'] {
        width: 40%;
    }
}

.priority-selector {
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &::after {
        position: absolute;
        top: 15%;
        right: 0;
        content: '';
        width: 2px;
        height: 80%;
        background-color: rgba(128, 128, 128, 0.3);
    }
    input[type='radio'] {
        display: none;
    }
    label {
        height: 15px;
        width: 15px;
        border: 2px solid transparent;
        border-radius: 50%;
        cursor: pointer;
    }
    input[type='radio']:checked + label {
        border-color: white;
    }
}
