<form class="task-form" (submit)="hadleSubmit($event)" autocomplete="off">
    <div class="fields">
        <label for="description" class="field">
            <span> Descripción </span>
            <input
                type="text"
                placeholder="Add new task..."
                name="description"
                [(ngModel)]="task.description"
                id="description"
                aria-label="descripción de la tarea"
                class="text"
            />
        </label>
        <label for="date-picker" class="field">
            <span> Fecha </span>
            <input
                type="date"
                name="date"
                id="date-picker"
                aria-label="fecha de la tarea"
                class="date-picker"
                [ngModel]="task.date | date: 'yyyy-MM-dd'"
                (ngModelChange)="task.date = $event"
            />
        </label>

        <label class="field">
            <span> Prioridad </span>
            <app-priority-selector
                [selected]="task.priority"
                (onChange)="task.priority = $event"
                [size]="'sm'"
                [direction]="'hr'"
            />
        </label>
    </div>
    <button type="submit" class="btn">crear</button>
</form>
