<section class="container-list">
    <div class="header">
        <div class="avatar"></div>
    </div>
    <div class="content">
        <ul class="list">
            <app-list-item
                *ngFor="let list of lists"
                [list]="list"
                [selected]="selectedList.id"
                (remove)="removeList($event)"
                (selectNewList)="selectList($event)"
                (newName)="updateListName($event)"
                [appScreenSize]="screenSizes"
            />
        </ul>
        <ul class="list empty" *ngIf="lists.length <= 0">
            <span class="text">Crea tu primera lista de tareas...</span>
        </ul>
        <button class="add" (click)="addList()">+ Crear lista</button>
    </div>
</section>
<section class="Container-TaskList">
    <div class="header">
        <app-input-task (addTask)="addNewTask($event)" [appScreenSize]="screenSizes" />
    </div>
    <div class="content">
        <ul class="list">
            <ng-container *ngFor="let task of selectedList.Tasks">
                <app-task-item
                    [task]="task"
                    (checkTask)="checkTask($event)"
                    (deleteTask)="deleteTask($event)"
                    [appScreenSize]="screenSizes"
                    (newDescription)="updateTaskDescription($event, task)"
                />
            </ng-container>
            <li *ngIf="selectedList.Tasks.length <= 0" class="item empty">Sin Tareas pendientes...</li>
        </ul>
        <button class="add-new" (click)="openModal()">+</button>
    </div>
</section>
<section class="container-calendar">
    <div class="header">
        <app-kpi [KPI]="selectedList.KPI.today" title="Hoy" />
        <app-kpi [KPI]="selectedList.KPI.week" title="Esta semana" />
        <app-kpi [KPI]="selectedList.KPI.month" title="Este mes" />
    </div>
    <div class="content">
        <app-calendar [CalendarEvents]="selectedList.Tasks" />
    </div>
    <div class="footer">
        <span class="selected-date">
            {{ selectedDate.getDate() }} de
            {{ selectedDate.toLocaleString('default', { month: 'long' }) }}
        </span>
        <ul class="list">
            <ng-container *ngFor="let task of selectedList.Tasks">
                <app-task-item
                    [task]="task"
                    class="task-item"
                    (checkTask)="checkTask($event)"
                    (deleteTask)="deleteTask($event)"
                    *ngIf="isSelected(task.dateStart)"
                />
            </ng-container>
            <li *ngIf="selectedList.Tasks.length <= 0">No hay tareas para este día...</li>
        </ul>
    </div>
</section>
