<section class="container-list">
    <div class="header">
        <figure class="logo">
            <img src="../../../../assets/logo.svg" alt="" srcset="" draggable="false" />
        </figure>
    </div>
    <div class="content">
        <ul class="list">
            <app-list-item
                *ngFor="let list of Lists(); trackBy: trackById"
                [list]="list"
                [selected]="SelectedList().id"
                (remove)="removeList($event)"
                (selectNewList)="selectList($event)"
                (newName)="updateListName($event)"
                [appScreenSize]="screenSizes"
            />
            <span *ngIf="Lists().length <= 0" class="empty">Añade una nueva lista para empezar</span>
        </ul>

        <button class="add" (click)="addList()">+ Crear lista</button>
    </div>
</section>
<section class="Container-TaskList">
    <div class="header">
        <app-input-task (addTask)="addNewTask($event)" [appScreenSize]="screenSizes" [isDisabled]="Lists().length <= 0" />
        <app-sort-selector (onChange)="sortOption = $event" [appScreenSize]="screenSizes" />
    </div>
    <div class="content">
        <ng-container *ngIf="Lists().length > 0">
            <ul class="list">
                <ng-container
                    *ngFor="let task of SelectedList().Tasks | sortTasks: sortOption.value : sortOption.asc;trackBy: trackById"
                >
                    <app-task-item
                        [task]="task"
                        (checkTask)="checkTask($event)"
                        [appScreenSize]="screenSizes"
                        (editTask)="editTask($event)"
                    />
                </ng-container>
                <span *ngIf="SelectedList().Tasks.length <= 0" class="empty">Añade una nueva tarea para empezar</span>
            </ul>
            <button class="add-new" (click)="createNewTask()">+</button>
        </ng-container>
    </div>
</section>
<section class="container-calendar">
    <ng-container *ngIf="Lists().length > 0">
        <div class="header">
            <app-kpi [KPI]="SelectedList().KPI.today" title="Hoy" />
            <app-kpi [KPI]="SelectedList().KPI.week" title="Esta semana" />
            <app-kpi [KPI]="SelectedList().KPI.month" title="Este mes" />
        </div>
        <div class="content">
            <app-calendar [CalendarEvents]="SelectedList().Tasks" />
        </div>

        <div class="footer">
            <span class="selected-date">
                {{ selectedDay() | date: 'd MMMM' : '' : 'es-ES' }}
            </span>
            <ul class="list">
                <ng-container *ngFor="let task of SelectedList()?.Tasks; trackBy: trackById">
                    <app-task-item
                        [task]="task"
                        class="task-item"
                        [isReadonly]="true"
                        (checkTask)="checkTask($event)"
                        *ngIf="isSelected(task.dateStart)"
                    />
                </ng-container>
                <span *ngIf="SelectedList().Tasks.length <= 0" class="empty">No hay tareas para este día...</span>
            </ul>
        </div>
    </ng-container>
</section>
