:host {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #18181c;
    padding: 1rem;
    min-height: 600px;

    .container-list {
        width: 15%;
        height: 100%;
        background-color: #1e1f25;
        border: solid 2px #282932;
        border-radius: 0.5rem;
        padding: 1rem 0.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .header {
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            max-height: 200px;
            height: 15%;
            width: 100%;

            .logo {
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                height: 100px;
                width: 100px;
                border: solid 2px #282932;
            }
        }

        .content {
            display: flex;
            flex-flow: column nowrap;
            gap: 2rem;
            height: 85%;

            .list {
                display: flex;
                flex-flow: column nowrap;
                max-height: 400px;
                overflow: auto;
                padding: 0 0.5rem;
            }

            .add {
                padding: 0.5rem 1rem;
                background-color: transparent;
                border: 2px dashed #282932;
                border-radius: 5px;
                color: white;
                cursor: pointer;
                transition: all 0.5s ease;
                text-transform: uppercase;

                &:hover {
                    background-color: #282932;
                }
            }
        }
    }

    .Container-TaskList {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 0.5rem;
        position: relative;
        .header {
            height: 15%;
            display: flex;
            align-items: center;
            border-bottom: solid 1px #282932;
            position: relative;
        }

        .content {
            width: 100%;
            height: 85%;
            display: flex;
            justify-content: center;
            position: relative;
            .list {
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: auto;
                gap: 0.5rem;
                max-height: 95%;
                padding: 0 0.5rem;
            }
            .add-new {
                position: absolute;
                top: -10px;
                right: -10px;
                width: 30px;
                height: 30px;
                background-color: #1e1f25;
                border-radius: 50%;
                text-align: center;
                color: white;
                font-weight: bold;
                font-size: 24px;
                cursor: pointer;
                border: none;
                transition: background-color 0.5s ease;
                display: none;
                border: solid 1px #5553f5;
                &:hover {
                    background-color: #5553f5;
                }
            }
        }
    }

    .container-calendar {
        width: 25%;
        height: 100%;
        background-color: #1e1f25;
        border: solid 2px #282932;
        border-radius: 0.5rem;
        display: none;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.75rem 1rem;
        .header {
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 2rem;
            border-bottom: solid 1px #282932;
        }
        .content {
            width: 100%;
            height: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .footer {
            width: 100%;
            height: 50%;
            padding: 2rem 0.5rem;

            .selected-date {
                font-size: 16px;
                color: white;
                display: flex;
                align-items: center;
                text-wrap: nowrap;
                gap: 0.5rem;

                &::after,
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #282932;
                }
            }

            .list {
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column;
                align-items: center;
                gap: 0.5rem;
                overflow-y: auto;
                max-height: 450px;
                padding: 1rem 5px;

                app-task-item {
                    width: 100%;
                }
            }
        }
    }

    &.desktop {
        .container-calendar {
            display: flex;
        }
        .Container-TaskList {
            width: 60%;
        }
    }

    &.laptop,
    &.tablet {
        min-height: 900px;
    }

    &.laptop {
        .container-list {
            width: 25%;
        }
    }
    &.tablet {
        .container-list {
            width: 25%;
        }
    }
    &.phone {
        flex-direction: column-reverse;
        padding: 1rem;
        .container-list {
            width: 100%;
            height: 25%;
            .header {
                display: none;
            }
            .content {
                height: 100%;
                flex-direction: column-reverse;
                justify-content: flex-end;
                gap: 5px;

                .list {
                    overflow: auto;
                    padding: 0.5rem;
                    gap: 0.5rem;
                }
            }
        }

        .Container-TaskList {
            height: 75%;
            gap: 1rem;
            padding: 0;
            .header {
                display: none;
            }
            .content {
                height: 100%;
                position: relative;
                .list {
                    width: 100%;
                }
                .add-new {
                    display: block;
                }
            }
        }
    }
}

.list .empty {
    color: white;
    font-style: italic;
    font-size: large;
}
