<select name="cat" id="original" class="postform">
    <option value="-1">Select Category</option>
    <option class="level-0" value="29">2007</option>
    <option class="level-0" value="26">2008</option>
    <option class="level-0" value="23">2009</option>
    <option class="level-0" value="20">2010</option>
    <option class="level-0" value="17">2011</option>
    <option class="level-0" value="14">2012</option>
    <option class="level-0" value="11">2013</option>
    <option class="level-0" value="8">2014</option>
    <option class="level-0" value="5">2015</option>
    <option class="level-0" value="2">2016</option>
</select>
