<li class="item" [ngStyle]="{ 'border-left-color': task.priorityColor }">
    <div class="checkbox">
        <div class="round">
            <input type="checkbox" [id]="task.id" (change)="check(task.id)" [checked]="task.completed" />
            <label [htmlFor]="task.id"></label>
        </div>
    </div>
    <input
        [value]="task.description"
        class="description"
        [readonly]="task.completed"
        (blur)="onDescriptionChange($event)"
    />
    <span class="on-delete" (click)="delete(task)"></span>
</li>
