<form action="" (submit)="hadleSubmit($event)" class="edit-form">
    <div class="fields">
        <label for="description" class="field">
            <span class="title">Descripción</span>
            <textarea
                class="description"
                id="description"
                name="description"
                [(ngModel)]="task.description"
                aria-label="descripción de la tarea"
            ></textarea>
        </label>
        <label for="priority" class="field">
            <span class="title">Prioridad</span>
            <app-priority-selector
                [selected]="task.priority"
                (onChange)="task.priority = $event"
                [size]="'sm'"
                [direction]="'hr'"
            />
        </label>

        <label class="field">
            <span class="title">Días</span>
            <span class="form-group">
                <input
                    type="date"
                    id="dueDate"
                    name="dueDate"
                    aria-label="fecha de inicio de la tarea"
                    [ngModel]="task.dateStart | date: 'yyyy-MM-dd'"
                    (ngModelChange)="task.dateStart = $event"
                />
                -
                <input
                    type="date"
                    id="dueDate"
                    aria-label="fecha de fin de la tarea"
                    name="endDueDate"
                    [ngModel]="task.dateStart | date: 'yyyy-MM-dd'"
                    (ngModelChange)="task.dateEnd = $event"
                />
            </span>
        </label>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn--success" role="button">Guardar</button>
        <button type="button" class="btn btn--danger" (click)="deteleTask(task)" role="button">Eliminar</button>
    </div>
</form>
