<main class="container">
    <section class="container-list">
        <div class="header"></div>
        <div class="content">
            <ul class="list">
                <app-list-item
                    *ngFor="let list of lists"
                    [list]="list"
                    [selected]="SelectedList.id"
                    (remove)="removeList($event)"
                    (select)="selectList($event)"
                />
            </ul>
            <ul class="list empty" *ngIf="lists.length <= 0">
                <span class="text">Create your first list...</span>
            </ul>
            <button class="add" (click)="addList()">+ Add Todo List</button>
        </div>
    </section>
    <section class="Container-TaskList">
        <div class="header">
            <app-input-task (addTask)="addNewTask($event)" />
        </div>
        <div class="content">
            <ul class="list">
                <app-task-item
                    *ngFor="let task of SelectedList.Tasks"
                    [task]="task"
                    (checkTask)="checkTask($event)"
                    (deleteTask)="deleteTask($event)"
                />
            </ul>
            <ul *ngIf="SelectedList.Tasks.length <= 0">
                No tasks added yet...
            </ul>
        </div>
        <div class="footer"></div>
    </section>
    <section class="container-calendar">
        <div class="header">posar el progress en la realització de les tasques</div>
        <div class="content">
            <app-calendar />
        </div>
        <div class="footer">listar les tasques del dia seleccionat</div>
    </section>
</main>

<router-outlet></router-outlet>
