<main class="container">
    <section class="container-list">
        <div class="header"></div>
        <div class="content">
            <ul class="list">
                <app-list-item
                    *ngFor="let list of lists"
                    [list]="list"
                    [selected]="SelectedList.id"
                    (remove)="removeList($event)"
                    (select)="selectList($event)"
                />
            </ul>
            <ul class="list empty" *ngIf="lists.length <= 0">
                <span class="text">Create your first list...</span>
            </ul>
            <button class="add" (click)="addList()">+ Add Todo List</button>
        </div>
    </section>
    <section class="Container-TaskList">
        <div class="header">
            <app-input-task (addTask)="addNewTask($event)" />
        </div>
        <div class="content">
            <ul class="list">
                <app-task-item
                    *ngFor="let task of SelectedList.Tasks"
                    [task]="task"
                    (checkTask)="checkTask($event)"
                    (deleteTask)="deleteTask($event)"
                />
            </ul>
            <ul *ngIf="SelectedList.Tasks.length <= 0">
                No tasks added yet...
            </ul>
            <div class="sort-wrapper">sort</div>
            <div class="filter-wrapper">filter</div>
        </div>
        <div class="footer">
            <app-kpi [KPI]="SelectedList.KPI.today" title="Today" />
            <app-kpi [KPI]="SelectedList.KPI.week" title="This Week" />
            <app-kpi [KPI]="SelectedList.KPI.month" title="This Month" />
        </div>
    </section>
    <section class="container-calendar">
        <div class="header">
            <app-calendar [CalendarEvents]="SelectedList.Tasks" />
        </div>
        <div class="content">
            <h2>
                Tareas del dia {{ selectedDate.getDate() }} de
                {{ selectedDate.toLocaleString('default', { month: 'long' }) }}
            </h2>
            <ul class="list">
                @for (task of SelectedList.Tasks; track task) {
                    <app-task-item
                        [task]="task"
                        (checkTask)="checkTask($event)"
                        (deleteTask)="deleteTask($event)"
                        *ngIf="isSelected(task.dateStart)"
                    />
                }
            </ul>
            <ul *ngIf="SelectedList.Tasks.length <= 0">
                No task for this day...
            </ul>
        </div>
    </section>
</main>

<router-outlet></router-outlet>
