<!--<main class="container">
     <section class="container-list">
        <div class="header">
            <div class="avatar"></div>
        </div>
        <div class="content">
            <ul class="list">
                <app-list-item
                    *ngFor="let list of lists"
                    [list]="list"
                    [selected]="selectedList.id"
                    (remove)="removeList($event)"
                    (select)="selectList($event)"
                />
            </ul>
            <ul class="list empty" *ngIf="lists.length <= 0">
                <span class="text">Create your first list...</span>
            </ul>
            <button class="add" (click)="addList()">+ Crear lista</button>
        </div>
    </section>
    <section class="Container-TaskList">
        <div class="header">
            <app-input-task (addTask)="addNewTask($event)" />
        </div>
        <div class="content">
            <ul class="list">
                <ng-container *ngFor="let task of selectedList.Tasks">
                    <app-task-item [task]="task" (checkTask)="checkTask($event)" (deleteTask)="deleteTask($event)" />
                </ng-container>
                <li *ngIf="selectedList.Tasks.length <= 0">No tasks added yet...</li>
            </ul>
            <div class="sort-wrapper">
                <select class="sort" (change)="sortTasks($event)">
                    <ng-container *ngFor="let option of sortOptions">
                        <option [value]="option.value" [selected]="selectedList.sort.by == option.value">
                            {{ option.label }}
                        </option>
                    </ng-container>
                </select>
                <div (click)="toggleSortOrder()" class="order">
                    <span class="indicator" [class.desc]="!selectedList.sort.asc"></span>
                    <span class="indicator" [class.asc]="selectedList.sort.asc"></span>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </section>
    <section class="container-calendar">
        <div class="header">
            <app-kpi [KPI]="selectedList.KPI.today" title="Hoy" />
            <app-kpi [KPI]="selectedList.KPI.week" title="Esta semana" />
            <app-kpi [KPI]="selectedList.KPI.month" title="Este mes" />
        </div>
        <div class="content">
            <app-calendar [CalendarEvents]="selectedList.Tasks" />
        </div>
        <div class="footer">
            <span class="selected-date">
                {{ selectedDate.getDate() }} de
                {{ selectedDate.toLocaleString('default', { month: 'long' }) }}
            </span>
            <ul class="list">
                <ng-container *ngFor="let task of selectedList.Tasks">
                    <app-task-item
                        [task]="task"
                        class="task-item"
                        (checkTask)="checkTask($event)"
                        (deleteTask)="deleteTask($event)"
                        *ngIf="isSelected(task.dateStart)"
                    />
                </ng-container>
                <li *ngIf="selectedList.Tasks.length <= 0">No hay tareas para este día...</li>
            </ul>
        </div>
    </section> 

</main>-->
<app-task-list [appScreenSize]="breakpoints" />
