<div class="calendar">
    <div class="controls">
        <span (click)="previousMonth()" class="arrow left"></span>
        <span class="text"
            >{{ currentMonth.toLocaleString('default', { month: 'long' }) }} de {{ currentMonth.getFullYear() }}</span
        >
        <span (click)="nextMonth()" class="arrow right"></span>
    </div>
    <table>
        <thead>
            <tr class="head-row">
                <th *ngFor="let day of weekDays" class="head-col">{{ day }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let week of getWeeks()" class="row">
                <td
                    *ngFor="let day of week"
                    (click)="selectDay(day)"
                    [class.not-current-month]="day.getMonth() !== currentMonth.getMonth()"
                    [class.today]="isToday(day)"
                    [class.weekend]="isWeekend(day)"
                    [class.selected]="isSelected(day)"
                    class="day col"
                >
                    {{ day.getDate() }}
                    <div class="event" *ngIf="hasEvents(day)">
                        <span class="event-indicator"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
