:host {
    width: 100%;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
    color: #fff;
    border-radius: 8px;
    padding: 1rem;
    border: solid #282932 2px;
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    .text {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .arrow {
        display: block;
        width: 15px;
        height: 15px;
        border-top: 2px solid #5051f9;
        border-left: 2px solid #5051f9;
        cursor: pointer;
        &:hover {
            border-color: #3d3dc5;
        }
    }
    .arrow.right {
        transform: rotate(135deg);
    }

    .arrow.left {
        transform: rotate(-45deg);
    }
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar th,
.calendar td {
    border-radius: 5px;
    padding: 10px 6.6667px;
    line-height: 16px;
    text-align: center;
}
.calendar td.day {
    cursor: pointer;
}

.not-current-month {
    color: #ccc;
}

.calendar td:hover {
    background-color: #5553f51c;
}

.weekend {
    color: #5553f5;
}

.selected {
    background-color: #5553f5;
    color: #fff;
    .indicators .event-indicator {
        background-color: #fff;
    }
}
.today.selected {
    background-color: #5051f924;
    color: #fff;
}
.today {
    background-color: #282932;
    border-radius: 6px;
    font-weight: bold;
    color: #fff;
    &:hover,
    &:focus {
        background: rgba(242, 199, 107, 0.2);
        border-radius: 6px;
        font-weight: bold;
    }
}

.event {
    .event-indicator {
        height: 5px;
        width: 5px;
        border-radius: 50%;
        margin: 1px;
        display: inline-block;
        background-color: #5051f9;
    }
}
