:host {
    width: 100%;
    height: 100%;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 8px;
    padding: 1rem;
    border: solid #282932 2px;
    &__grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 30px repeat(5, 1fr);
        width: 100%;
        height: 100%;
        .head-cell {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }
        .cell {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background-color: #5553f51c;
            }

            &.today {
                background-color: #282932;
                border-radius: 6px;
                font-weight: bold;
                color: #fff;
                &:hover,
                &:focus {
                    background: rgba(242, 199, 107, 0.2);
                    border-radius: 6px;
                    font-weight: bold;
                }
            }
            &.not-current-month {
                color: #ccc;
            }
            &.weekend {
                color: #5553f5;
            }
            &.selected {
                background-color: #5553f5;
                color: #fff;
                .event {
                    background-color: #fff;
                }
            }
            &.today.selected {
                background-color: #5051f924;
                color: #fff;
            }

            .event {
                height: 5px;
                width: 5px;
                border-radius: 50%;
                margin: 1px;
                display: inline-block;
                background-color: #5051f9;
            }
        }
    }
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    .text {
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: capitalize;
    }
    .arrow {
        display: block;
        width: 15px;
        height: 15px;
        border-top: 2px solid #5051f9;
        border-left: 2px solid #5051f9;
        cursor: pointer;
        &:hover {
            border-color: #3d3dc5;
        }
    }
    .arrow.right {
        transform: rotate(135deg);
    }

    .arrow.left {
        transform: rotate(-45deg);
    }
}
