<div class="calendar">
    <div class="controls">
        <span (click)="previousMonth()" class="arrow left"></span>
        <span class="text">
            {{ currentMonth | date: 'MMMM yyyy' : '' : 'es-ES' }}
        </span>
        <span (click)="nextMonth()" class="arrow right"></span>
    </div>

    <div class="calendar__grid">
        <div *ngFor="let day of weekDays" class="head-cell">{{ day }}</div>
        <ng-container *ngFor="let day of days">
            <div
                (click)="selectDay(day)"
                [class.not-current-month]="isCurrentMonth(day)"
                [class.today]="isToday(day)"
                [class.weekend]="isWeekend(day)"
                [class.selected]="isSelected(day)"
                class="cell"
            >
                <span class="day">
                    {{ day.getDate() }}
                </span>
                <span class="event" *ngIf="hasEvents(day)"> </span>
            </div>
        </ng-container>
    </div>
</div>
